@page "{deviceguid:deviceguid}"
@model CamControl.Pages.Device.DeleteModel
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<DeleteModel> Localizer
@inject IHtmlLocalizer<DeleteModel> htmlLocalizer
@{
    ViewData["Title"] = @Localizer["Gerät Löschen"];
}
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <h1>@Localizer["Gerät Löschen"]</h1>
        <div class="form-panel">
            <h4>@Localizer["Gerät"]</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Device.DeviceNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Device.DeviceNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Device.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Device.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Device.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Device.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Device.Direction)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Device.Direction)
                </dd>
            </dl>
            </div>
             <div class="form-group">
            <form method="post">
                <input type="hidden" asp-for="Device.Device_Guid" />
                <input type="submit" value=@Localizer["Löschen"] class="btn btn-danger" onclick="return confirm('@Localizer["Möchten Sie wirklich Löschen"]?')" /> |
                <a asp-page="./Index">@Localizer["Zurück zur Liste"]</a>
            </form>
        </div>
    </section>
</section>